{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center"><div class="col-md-8 col-lg-6">
    <div class="card shadow">
        <div class="card-header bg-primary text-white"><h4 class="mb-0">{{ 'Escanear Código QR'|translate:request.LANGUAGE_CODE }}</h4></div>
        <div class="card-body">
            <div id="reader" style="width: 100%;"></div>
            <div id="result" class="mt-3 alert alert-info" style="display: none;"></div>
        </div>
    </div>
</div></div>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code matched = ${decodedText}`, decodedResult);
        html5QrcodeScanner.clear();
        const resultDiv = document.getElementById('result');
        resultDiv.style.display = 'block';
        resultDiv.innerText = "Código detectado: " + decodedText;
        if (decodedText.startsWith('http')) {
            window.location.href = decodedText;
        } else {
            window.location.href = "/stock/items/" + decodedText + "/";
        }
    }
    function onScanFailure(error) {}
    let html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: { width: 250, height: 250 } }, false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
{% endblock %}